.ga-input {
    position: relative;
}

.ga-input input{
    line-height: 1.6;
}

.ga-input label {
    position: absolute;
    left: 0;   
    top: -1.3rem;    
    color: var(--clr-primary);
    transition: all 0.2s ease-out;
}

.ga-input input:not(:focus) ~ label,
.ga-input input:placeholder-shown ~ label {
    left: 0.4rem;
    top: 0.5rem;
    visibility: hidden;
}