main {
	width: 100vw;
	height: 100vh;
	padding: 5rem;
	position: relative;
}

h1 {
	text-align: center;
	color: var(--clr-secondary);
}

form {
	background-color: #271629;
	border-radius: 1rem;
	padding: 2rem;

	display: flex;
	gap: 2rem;
	flex-direction: column;
}
