.table__row {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.table__cell {
	background: none;
	color: var(--clr-trinary);
	padding: 0.5rem 0;
	border-radius: 0.3rem;
}

.table__row.hover {
	box-shadow: var(--shadow);
}
