.table__search {
	position: relative;
}

.table__search input {
	width: 0;
	padding: 0 1rem;
	box-shadow: none;
	line-height: 2;
	transition: 1s ease-out;
}

.table__search--open input {
	width: 8rem;
	padding: 0 1.8rem;
	line-height: 2;
	box-shadow: var(--shadow-in);
}

.table__search .material-icons {
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
}
