.sidenav {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100vh;
	/* background: var(--clr-trinary); */
	box-shadow: 3px 0px 16px black;
}

.sidenav__item {
	text-decoration: none;
	color: var(--clr-light);
	width: 5rem;
	height: 5rem;
	font-size: 3em;
	display: grid;
	align-items: center;
	justify-items: center;
}

.sidenav__item--active {
	/* background-color: var(--clr-primary); */
	box-shadow: inset 8px 8px 16px black, inset -8px -8px 16px var(--clr-primary-light);
}

.sidenav__item--bottom {
	margin-top: auto;
}

.sidenav__item:not(.sidenav__item--active):hover {
	box-shadow: var(--shadow);
}
