.table__cell--header {
	box-shadow: var(--shadow-in);
	position: relative;
}

.table__cell--header:focus,
.table__cell--header:hover {
	background: var(--clr-primary-dark);
}

.table__actions {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: calc(50% - 1rem);
	display: flex;
	align-items: center;
}

.table__actions .material-icons {
	font-size: 1.1rem;
	margin-right: 0.5rem;
}

.table__actions .material-icons:hover {
	color: var(--clr-secondary);
}
